- @title = @poll.title
%link{rel: 'stylesheet', href: "//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"}
%script{src: "//code.jquery.com/ui/1.11.1/jquery-ui.js"}
:css
  .outer-options{
    border:0px;
    margin:0px;
    padding:0px;
  }
  #avail-options,#voted-options{
    margin:3px;
    border:1px solid black;
    padding:2px;
    border-radius:2px; 
  }
  .option{
    display:block;
    border:1px black solid;
    border-radius:5px;
    margin:3px;
  }
  #options-table{
    width:100%;
  }
%h1= @poll.title
%pre= @poll.description
%table#options-table
  %tbody
    %tr
      %td Move over one or more options to vote for
      %td Then sort them in your order of preference
    %tr
      %td
        %ul#avail-options.options
          - @options.each do |option|
            %li.option= option.optext
      %td
        %ul#voted-options.options
%button#votebutton(onclick="submitVote()")
  Vote
%hr
.new-option
  = form_for :option do |f|
    = f.hidden_field :poll_id, value: @poll.id
    %p
      = f.label :optext
      = f.text_field :optext
    = f.submit
:javascript  
  a = $("#avail-options");
  b = $("#voted-options");

  h = a.height();
  b.height(h);
  a.height(h); //dynamic height -> static height

  $('#avail-options').sortable({
    connectWith:"#voted-options"
  });
  $('#voted-options').sortable({
    connectWith:"#avail-options"
  });
    
